body {
    background-color: grey;
}


/* hidden panel elements */

.hidden-panel {
    border: yellow 5px solid;
}

.hidden-box h2 {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: cyan;
    border: black 5px solid;
    width: 40px;
    height: 40px;
}

.disable {
    display: none;
}